body {
    font-family: Arial, sans-serif;
}

.tabs {
    display: flex;
    margin-bottom: 10px;
}

.tab {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
}

.tab.refresh {
    margin-left: auto; /* Push the refresh button to the right */
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
}

#htmlInput {
    width: 100%;
    height: 400px;
}

#previewFrame {
    width: 100%;
    height: 400px;
}

#generatedLink {
    width: 100%;
}
